<p class="text-success"><%= @success_message %></p>

<form action="/account" method="POST" role="form">

  <div class="form-group">
    <label for=name>ユーザー名</label>
    <input class="form-control" type=text name=name required
           value="<%= h @user.name %>">
  </div>

  <button type="submit" class="btn btn-primary btn-block">変更を保存</button>
</form>
