- if Time.now < Time.local(2020, 10, 12, 0)
  div style="text-align: center"
    a href="https://camp-fire.jp/projects/view/290251" title="Peercast Gateway  は BFKB113PBK パンタグラフキーボードの再生産を応援しています。"
      | おかげさまで BFKB113PBK のクラウドファンディングは成立しました！☺
