<!doctype html>
<html lang=ja>
  <head>
    <title>配信</title>
  </head>

  <body>
    <h1>チャンネル立ちました</h1>
    <p>放送先URL: <code>rtmp://yoteichi-no-ie.luna.ddns.vc/live/livestream</code> <input type=submit value="コピー"> </p>
    <form action="/stop" method="POST">
      <input type=submit value="停止">
    </form>
  </body>
</html>
