<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway</title>
    <%= erb :common_head %>
  </head>
  <body>

    <%= erb :navbar %>

    <div class=container>

      <h1>チャンネルが見付かりません</h1>

      <p class="text-warning">チャンネルは停止しています。</p>

      <p><a href="/home" class="btn btn-primary">ホームへ</a></p>

    </div>
    <%= erb :footer %>

  </body>
</html>
