<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway &mdash; チャンネル作成</title>
    <%= erb :common_head %>
  </head>

  <body>
    <%= erb :navbar %>

    <div class=container>
      <h1>チャンネル作成</h1>

      <%= slim :form %>
    </div>

    <%= erb :footer %>
  </body>
</html>
