<div class="rounded bg-white shadow-sm p-3 mb-3">
    <% if @user.never_broadcast? %>
    <%= slim :create_help %>
    <% end %>

    <h5>チャンネル作成</h5>

    <%= slim :select_template_dropdown, locals: { recent_programs: recent_programs } %>

    <%= slim :form, locals: { template: template, servents: servents } %>
</div>
