<div class="row">
  <div class="col-md-12">
    <% if @user.never_broadcast? %>
    <%= slim :create_help %>
    <% end %>

    <h1>チャンネル作成</h1>

    <%= slim :select_template_dropdown, locals: { recent_programs: recent_programs } %>

    <%= slim :form, locals: { template: template, servents: servents } %>
  </div>
</div>
