<% content_for :title do %>Peercast Gateway とは<% end %>

<div class="page-header">
  <h1>Peercast Gateway とは</h1>
</div>

<h2>ポート０環境から配信する</h2>

<p>
  現行の多くの YP はファイアウォール越し(ポート0)の PC などのデバイスからチャンネルを掲載すること(プッシュ配信)を拒否しているため、そのような環境から配信することができません。</p>

<p>
  Peercast Gateway ではサーバーがライブ動画をエンコーダーからプッシュ接続で受けとり、配信者に代わって YP にチャンネルを掲載することで Peercast で視聴ができる状態にします。
</p>

<div style="margin: .5em auto">
  <img class="img-responsive" src="/images/diagram_normal.jpg" alt="普通の配信の模式図">
  <img class="img-responsive" src="/images/diagram_pcgw.jpg" alt="Peercast Gateway での配信の模式図">
</div>

<h2>対応している動画フォーマットとエンコーダー</h2>
<p>
  <a href="/doc/how-to-wme">Windows Media エンコーダ</a>などが対応している従来からの Windows Media Video 形式と、<a href="/doc/how-to-obs">Open Broadcaster Software</a> などが扱える Flash Video 形式とに対応しています。
</p>

<p>
  なお、WMV 形式の場合でもエンコーダーからサーバーへ要求を送るプッシュ接続で動画を受け渡します。設定方法が通常と若干異なりますのでご注意ください。
</p>

<p>エンコーダー別の配信手順は<a href="/doc">ヘルプ</a>をご覧ください。</p>
