<% content_for :title do %>ヘルプ<% end %>
<% content_for :head do %><link rel="stylesheet" href="/help.css"><% end %>

<div class="page-header">
  <h1>ヘルプ</h1>
</div>

<ul>
  <li><a href="/doc/desc">Peercast Gateway とは</a></li>
  <li><a href="/doc/faq">よくある質問</a></li>
  <li><a href="/doc/how-to-obs">配信の手順 Open Broadcaster Software 編</a></li>
  <li><a href="/doc/how-to-wme">配信の手順 Windows Media エンコーダ編</a></li>
  <li><a href="/doc/how-to-ee">配信の手順 Expression Encoder 編</a></li>
  <li><a href="/doc/repeaters">外部サイトへの同時配信</a></li>
  <li><a href="/doc/streamlabs">Streamlabs Androidアプリでの配信の仕方</a></li>
</ul>
