<footer style="text-align: center; font-size: 10px">
  <div>
    管理人 <a href="https://twitter.com/plonk1">予定地</a><br>
    Powered by <a href="http://www.pecastation.org/">PeerCastStation</a>
  </div>
  <div style="float: right; margin: 5px">
    <a href="http://jbbs.shitaraba.net/bbs/read.cgi/game/48538/1431385307/">サポート</a> |
    <a href="/doc">ヘルプ</a>
  </div>
</footer>
