li.nav-item
  a.nav-link href="/programs/recent" style="padding: 10px" title="過去の番組"
    span.glyphicon.glyphicon-time style="font-size: 24px" ⏲️
    span.d-sm-none.d-md-none.d-lg-inline style="font-weight: 500; vertical-align: 25%"  過去の番組
