<% content_for :title do %>配信開始の手順 Open Broadcaster Software 編<% end %>
<% content_for :head do %><link rel="stylesheet" href="/help.css"><% end %>

<div class="page-header">
  <h1>配信開始の手順 <small>Open Broadcaster Software &thinsp;編</small></h1>
</div>

<p>ここではエンコーダーとして <a href="https://obsproject.com/">Open Broadcaster Software</a> (OBS Classic)を使用して配信をする手順を説明します。</p>

<img class="img-responsive" src="/images/ss4.png" alt="" title="">
<h3>1. 画面上部のナビゲーションバーの一番右にあるボタンを選びます。</h3>

<img class="img-responsive" src="/images/ss_create_flv.png" alt="" title="">
<h3>2. チャンネル名や掲示板の URL を入力して、<span class="term">開始</span>を押してください。<br><span class="term">ストリームタイプ</span>には <span class="term">FLV</span> を選択してください。</h3>

<img class="img-responsive" src="/images/ss6.png" alt="" title="">
<h3>3. チャンネルが新しく作成され、ストリーム送信用の URL とキーが表示されます。<br>まだエンコーダーと接続していないので、<span class="term">接続状態</span>はこの状態で<span class="text-warning">Error</span>になっていてかまいません。</h3>

<h3>4. Open Broadcaster Software を起動して、<span class="term">設定</span>ボタンを押します。</h3>

<img class="img-responsive" src="/images/ss8.png" alt="" title="">
<h3>5. 先の画面の<span class="term">メディア&thinsp;URL&thinsp;</span> <code>rtmp://pcgw.pgw.jp/live</code> を <span class="term">FMS URL</span> に入力します。<br>同様に<span class="term">ストリームキー</span>(4桁の数字)も入力します。</h3>

<img class="img-responsive" src="/images/ss9.png" alt="" title="">
<h3>6. <span class="term">配信開始</span>ボタンを押してストリームを送信してください。</h3>

<h3>7. 配信中は<span class="term">接続状態</span>が <span class="term text-success">Receiving</span> になります。</h3>

<h3>8. YP に掲載されていることを確認します。</h3>
