<!doctype html>
<html lang="ja">
  <head>
    <title>配信開始の手順 OBS編</title>
    <%= erb :common_head %>
    <style>
      h3 { text-align: center; font-size: large; font-weight: normal; }
      img.img-responsive { margin-top: 4em; }
    </style>
  </head>

  <body>
    <%= erb :navbar %>

    <div class="container">
      <div class="page-header">
        <h1><%= jp_words '配信開始の手順' %> <small>OBS&thinsp;編</small></h1>
      </div>

      <p>ここではエンコーダーとして <a href="https://obsproject.com/">Open Broadcaster Software</a> を使用して配信をする手順を説明します。</p>

      <img class="img-responsive" src="/images/ss4.png" alt="" title="">
      <h3>1. ホーム画面上部のナビゲーションから<span class="term">配信する</span>を選びます。</h3>

      <img class="img-responsive" src="/images/ss_create_flv.png" alt="" title="">
      <h3>2. チャンネル名や掲示板の URL を入力して、<span class="term">開始</span>を押してください。<br><span class="term">ストリームタイプ</span>には <span class="term">FLV</span> を選択してください。</h3>

      <img class="img-responsive" src="/images/ss6.png" alt="" title="">
      <h3>3. チャンネルが新しく作成され、ストリーム送信用の URL が表示されます。</h3>

      <img class="img-responsive" src="/images/ss7.png" alt="" title="">
      <h3>4. Open Broadcaster Software を起動しておいてください。</h3>

      <img class="img-responsive" src="/images/ss8.png" alt="" title="">
      <h3>5. 先の画面の<span class="term">メディア&thinsp;URL&thinsp;</span>を <span class="term">FMS URL</span> に入力します。</h3>

      <img class="img-responsive" src="/images/ss9.png" alt="" title="">
      <h3>6. <span class="term">配信開始</span>ボタンを押してストリームを送信してください。</h3>

      <img class="img-responsive" src="/images/ss11.png" alt="" title="">
      <h3>7. 配信中は<span class="term">状態</span>が <span class="term">Receiving</span> になります。</h3>

      <img class="img-responsive" src="/images/ss10_redacted.png" alt="" title="">
      <h3>8. YP に掲載されていることを確認します。</h3>

    </div>

    <%= erb :footer %>
  </body>
</html>
