<!-- channels: [Channel] -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h5>
      <span style="color: #ffa922; font-weight: bold; font-size: 200%"><%= channels.size %></span> <%= jp_words 'チャンネルが配信中' %>
    </h5>
  </div>

  <div class="panel-body" style="text-align: center">
    <% if channels.any? %>
      <% channels.each do |ch| %>
        <%= erb :card, locals: { channel: ch } %>
      <% end %>
    <% else %>
      <div class="text-muted" style="font-style: italic; text-align: center">チャンネルはありません。</div>
    <% end %>
  </div>
</div>
