<div class="jumbotron">
  <h1><%= jp_words "Peercast&thinsp;Gatewayへ&#8203;ようこそ" %></h1>
  <p>
    ファイアウォールの内側から Peercast へ配信しましょう。
  </p>

  <p>
    <a style="vertical-align: baseline"
       class="btn btn-default btn-lg"
       role="button"
       href="/doc/desc">詳しく</a>
    <a style="vertical-align: baseline"
       class="btn btn-primary btn-lg"
       role="button"
       href="/auth/twitter">
      Twitter でログイン
    </a>
  </p>
</div>
