<div class="jumbotron">
  <h1><%= jp_words "Peercast&thinsp;Gatewayへ&#8203;ようこそ" %></h1>
  <p>
    ポート０環境でもピアキャストで配信しましょう。<br>
    エンコーダー以外要りません。WMV・FLV 両対応。
  </p>

  <p>
    <a style="vertical-align: baseline"
       class="btn btn-default btn-block btn-lg"
       role="button"
       href="/doc/desc">詳しく&raquo;</a>
    <a style="vertical-align: baseline"
       class="btn btn-primary btn-block btn-lg"
       role="button"
       href="/auth/twitter">
      Twitter でログイン
    </a>
  </p>
</div>
