<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">ナビゲーションを切り替えます</span>
        <!-- 線３本 -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Peercast Gateway</a>
    </div>


    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% if @user %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 8px">
            <%= slim :broadcast_status, locals: { user: @user } %>
            <img style="margin-left: 13px" width="32" src="<%= @user.image %>" alt="<%= @user.name %>" class="img-rounded">
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/home">
                <strong><%= h @user.name %></strong><br>
                <small class="metadata">ホームを表示</small></a></li>
            <li class=divider></li>
            <% if @user.admin? %>
            <li><a href="/admin"><span class="text-warning">管理</span></a></li>
            <li class=divider></li>
            <% end %>

            <li><a href="http://jbbs.shitaraba.net/bbs/read.cgi/game/48538/1431385307/">サポート</a></li>
            <li><a href="/doc">ヘルプ</a></li>
            <li class=divider></li>
            <li><a href="/account">設定</a></li>
            <li><a href="/logout">ログアウト</a></li>
          </ul>
        </li>

        <li>
          <form action="/create" method="GET">
            <button class="btn btn-primary navbar-btn"
                    title="配信する"
                    style="padding: 0; margin-left: 0.5em; margin-right: 1em; "><img src="/images/megaphone.png" width="32"></button>
          </form>
        </li>


        <% else %>

        <li>
          <a href="/auth/twitter">
            <img alt="Sign in with Twitter" src="/sign-in-with-twitter-gray.png">
          </a>
        </li>

        <% end %>

      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>
