<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway</title>
    <%= erb :common_head %>
  </head>
  <body>

    <%= erb :navbar %>

    <div class=container>
      <div class="jumbotron">
        <h1>ご登録&#8203;ありがとう&#8203;ございます</h1>
        <p>
          <a style="vertical-align: baseline"
             class="btn btn-primary btn-lg"
             role="button"
             href="/home">ホームへ</a>
        </p>

      </div>
    </div>
    <%= erb :footer %>

  </body>
</html>
