<div class="jumbotron">
  <h1>ご登録&#8203;ありがとう&#8203;ございます</h1>
  <p>
    <a style="vertical-align: baseline"
       class="btn btn-primary btn-lg btn-block"
       role="button"
       href="/home">ホームへ</a>
  </p>

</div>
