/ 例外的にビューからモデルを引っ張る。
- notices = Notice.where('created_at > ?', @user.notice_checked_at || Time.at(0))
li.nav-item
  a.nav-link href="/notices/" style="padding: 10px" title="お知らせ"
    - if notices.empty?
      span.glyphicon.glyphicon-bell style="font-size: 24px" 🔔
    - else
      span.glyphicon.glyphicon-bell style="font-size: 24px; color: #ffa922" 🔔
        span.badge.badge-primary style="position: absolute; top: 50%; left: 55%;  font-size: 8pt" #{notices.count}
    span.d-sm-none.d-md-none.d-lg-inline style="font-weight: 500; vertical-align: 25%"  お知らせ
