<!-- max_channels: Integer -->
<div class="panel panel-default">
  <div class="panel-heading">
    <span style="color: #ffa922; font-weight: bold; font-size: 200%"><%= @all_channels.size %></span> / <%= max_channels %> <%= jp_words 'チャンネルが配信中' %>
  </div>

  <% if @all_channels.any? %>
  <div class="panel-body">
    <% @all_channels.each do |ch| %>
    <%= erb :card, locals: { channel: ch } %>
    <% end %>
  </div>
  <% end %>
</div>
