<% content_for :title do %>外部サイトとの同時配信<% end %>

<div class="page-header">
  <h1>外部サイトとの同時配信</h1>
</div>

<p>PeerCastに配信しているのと同じ内容を、YouTubeやTwitch等の外部ライ
  ブストリーミングサイトに中継する機能です(FLV配信のときだけ利用でき
  ます)。</p>

<p>各サイトに応じた操作の手順は、以下のページをごらんください：</p>

<ul>
  <li><a href="/doc/repeaters-youtube">YouTubeとの同時配信</a></li>
  <li><a href="/doc/repeaters-twitch">Twitchとの同時配信</a></li>
</ul>
