li.nav-item
  a.nav-link href="/stats" style="padding: 10px" title="利用状況"
    span.glyphicon.glyphicon-stats style="font-size: 24px" 📊
    span.d-sm-none.d-md-none.d-lg-inline style="font-weight: 500; vertical-align: 25%"  利用状況
