li.nav-item
  a.nav-link href="/profile" style="padding: 10px" title="ユーザー"
    span.glyphicon.glyphicon-user style="font-size: 24px" 👤
    span.d-sm-none.d-md-none.d-lg-inline style="font-weight: 500; vertical-align: 25%" ユーザー
